:root {
  --primary-color: rgb(7, 148, 242);
  --secondary-color: white;
  --ternary-color: rgb(7, 148, 242, 0.15);
}

/* 1 */
html {
  font-size: 16px;
}

@font-face {
  font-family: "Noto Serif Thin";
  src: url(../fonts/NotoSerif-Italic.ttf);
}

@font-face {
  font-family: "Noto Sans Display";
  src: url(../fonts/NotoSansDisplay-Regular.ttf);
}

/* 1 */
body {
  margin: 0 auto;
  font-family: "Noto Serif Thin", sans-serif;
  min-width: 960px;
  background-color: var(--ternary-color);
}

/* 10 */
.header {
  display: flex;
  justify-content: flex-start;
  gap: 50px;
  background-color: var(--primary-color);
}

.logo-wrap {
  padding: 0 40px;
}

/* 10 */
.logo {
  display: inline-block;
}

/* 11 */
.logo > img {
  height: 60px;
}

/* 10 */
.menu-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
}

/* 10 */
.menu__link {
  text-transform: uppercase;
  font-family: "Noto Sans Display";
  letter-spacing: 0.2rem;
}

/* 11 */
a:link,
a:visited {
  color: var(--secondary-color);
  text-decoration: none;
}

/* 11 */
a:hover {
  text-decoration: underline;
}

/* 10 */
.active {
  font-weight: 800;
}

/* 10 */
.signin__fields,
/* 10 */
.signup__fields {
  width: 400px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  font-size: 1.2rem;
  border: 2px solid var(--primary-color);
  background-color: var(--secondary-color);
}

/* 1 */
legend {
  font-weight: 800;
  font-size: 1.75rem;
  color: var(--primary-color);
  margin: 0 auto;
}

/* 1 */
input,
/* 1 */
select {
  border-radius: 4px;
  padding: 10px;
  border: 2px solid var(--primary-color);
  font-size: 1.2rem;
  font-family: "Noto Serif Thin";
}

/* 11 */
input[type="checkbox"] {
  accent-color: var(--primary-color);
  width: 20px;
  height: 20px;
}

/* 10 */
.btn-wrap {
  display: flex;
  gap: 30px;
  margin-top: 30px;
}

/* 11 */
.btn-wrap > input {
  padding: 15px 30px;
  border-radius: 4px;
  background: var(--primary-color);
  color: var(--secondary-color);
  font-weight: 800;
  cursor: pointer;
  width: 100%;
  font-family: "Noto Sans Display";
  letter-spacing: 0.2rem;
}