:root {
  --primary-color: rgb(7, 148, 242);
  --secondary-color: white;
  --ternary-color: rgb(7, 148, 242, 0.15);
}

@font-face {
  font-family: "Noto Serif Thin";
  src: url(../fonts/NotoSerif-Italic.ttf);
}

@font-face {
  font-family: "Noto Sans Display";
  src: url(../fonts/NotoSansDisplay-Regular.ttf);
}

/* 1 */
body {
  margin: 0 auto;
  font-family: "Noto Serif Thin", sans-serif;
  background-color: var(--ternary-color);
}

/* 10 */
.header {
  display: flex;
  justify-content: flex-start;
  gap: 50px;
  background-color: var(--primary-color);
}

/* 10 */
.logo-wrap {
  padding: 0 2%;
}

/* 10 */
.logo {
  display: inline-block;
}

/* 11 */
.logo > img {
  height: 60px;
}

/* 10 */
.menu-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
}

/* 10 */
.menu__link {
  text-transform: uppercase;
  font-family: "Noto Sans Display";
  letter-spacing: 0.2rem;
}

/* 11 */
a:link,
/* 11 */
a:visited {
  color: var(--secondary-color);
  text-decoration: none;
}

/* 11 */
a:hover {
  text-decoration: underline;
}

/* 10 */
.active {
  font-weight: 800;
}

/* 10 */
.signup, 
/* 10 */
.signin {
  width: 25%;
  margin: 0 auto;
}

/* 10 */
.signin__fields,
/* 10 */
.signup__fields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 100%;
  padding: 40px 8%;
  font-size: 1.2rem;
  background-color: var(--secondary-color);
  border: 2px solid var(--primary-color);
}

/* 1 */
legend {
  margin: 0 auto;
  font-size: 1.75rem;
  font-weight: 800;
  color: var(--primary-color);
}

/* 1 */
input,
/* 1 */
select {
  padding: 10px 2%;
  font-size: 1.2rem;
  font-family: "Noto Serif Thin";
  border: 2px solid var(--primary-color);
  border-radius: 4px;
}

/* 11 */
input[type="checkbox"] {
  width: 7%;
  height: 20px;
  accent-color: var(--primary-color);
}

/* 10 */
.btn-wrap {
  display: flex;
  gap: 30px;
  margin-top: 30px;
}

/* 11 */
.btn-wrap > input {
  width: 100%;
  min-width: 200px;
  padding: 15px 10%;
  font-family: "Noto Sans Display";
  font-weight: 800;
  letter-spacing: 0.2rem;
  color: var(--secondary-color);
  background: var(--primary-color);
  border-radius: 4px;
  cursor: pointer;
}

/* 10 */
.fields-wrapper {
  display: flex;
  justify-content: center;
  padding: 40px 5%;
}

/* 10 */
.field-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* 10 */
.field-block-remember {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* 10 */
.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 70%;
  margin: 20px auto;
}

/* 10 */
.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 50px 5%;
  background-color: var(--secondary-color);
  border: 2px solid var(--primary-color);
}

/* 10 */
.search__block {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  font-size: 1.2rem;
}

/* 10 */
.search__heading {
  width: 22%;
  margin: 0;
  font-size: 1.3rem;
  font-weight: 400;
}

/* 10 */
.search__item {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  width: 80%;
}

/* 10 */
.search__info {
  width: 30%;
}

/* 10 */
.item__field {
  width: 30%;
  font-size: 1.2rem;
}

/* 21 */
select[multiple="multiple"].item__field {
  width: 40%;
}

/* 1 */
hr {
  display: block;
  width: 100%;
  margin: 1rem 0;
  border-width: 1px;
  border-style: inset;
}

/* 11 */
input[type="number"] {
  width: 30%;
}

/* 11 */
input[type="color"] {
  width: 5%;
  padding: 0;
}

/* 11 */
input[type="radio"] {
  transform: scale(1.5);
}

/* 10 */
.products {
  display: flex;
  justify-content: space-between;
}

/* 10 */
.products__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 18%;
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color);
}

/* 10 */
.products__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 5px;
  padding: 10px 10%;
}

/* 10 */
.products__heading {
  font-weight: 800;
}

/* 10 */
.price {
  font-weight: 800;
  color: var(--primary-color);
}

/* 20 */
.products__info > .products__link {
  color: black;
  text-decoration: underline;
}


